{{#with facility}}

<div class="navbar">
  <div class="left">
    <button type="button" name="button" onclick="window.history.back()" class="back"><img src="img/chevron-white.svg" alt="Back" /></button>
  </div>
  <div class="center">
    <h1>{{name}}</h1>
  </div>
  <div class="right">
  </div>
</div>

<div class="container">

  {{#if required_id}}
    <div class="card cpr">
      <span class="cpr-icon">ID</span> A Danish ID is required here
    </div>
  {{/if}}

  <div class="card">
    <h1>Who's welcome</h1>
    <p>{{demographics}}</p>
  </div>

  <div class="card">
    <h1>Services offered</h1>
    {{#each distinctCategories}}
      <span class="facility-services"><i class="category-icon icon-{{icon}}"></i>{{title}}</span>
    {{/each}}
  </div>

  <div class="card map">
    <a title="Click to open Google Maps in a new window with directions to facility" id="link_gmap">
      <div id="detail-gmap"></div>
      <div class="directions">
        <i class="icon-compass"></i> Get directions
      </div>
    </a>
  </div>

  <div class="card">
    <h1>Contact information</h1>
    <p>{{address}}</p>
    <hr>

    {{#each phoneNumbers}}
      <a href="tel:{{number}}" class="action">
        <i class="icon-phone"></i>
        {{number}}
        <label>Call now</label>
      </a>
    {{/each}}

    {{#if website}}
      <a href="{{website}}" class="action" target="_blank">
        <i class="icon-link"></i>
        <span>{{website}}</span>
        <label>Visit website</label>
      </a>
    {{/if}}
  </div>

  {{#each services}}
    <div class="card">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
      <hr>
      {{> openHours}}
      {{#if notes}}
      <hr>
        <div class="notes">
          <label>Notes:</label>
         <p>{{notes}}</p>
        </div>
      {{/if}}
    </div>
  {{/each}}

{{/with}}
