<!-- {{> queryRepresentation}} -->
<div class="navbar">
  <div class="left">
    <button type="button" name="button" onclick="window.history.back()" class="back"><img src="../img/chevron-white.svg" alt="Back" /></button>
  </div>
  <div class="center">
    <h1>Overview</h1>
  </div>
  <div class="right">
  </div>
</div>

<div id='loading-spinner' role="presentation">
  <img class="loader" src='../img/loading.gif' alt=''>
</div>

  <div class="container facility-list">


  {{#each facilities}}

    <div class="facility">
      <a href="#/detail/{{objectId}}" class="facility-item-link" title="Click to see more details about {{name}}">

        <div class="top">
          <h1 class="facility-name">{{#if required_id}}<span class="cpr-icon">ID</span>{{/if}}{{name}}</h1>
          <p id="distance_{{objectId}}" class="label-status">{{distanceData}}</p>
        </div>

        <div class="bottom">
          <div class="categories">
            {{#each serviceCategories}}
              <span class="facility-services"><i class="category-icon icon-{{icon}}"></i></span>
            {{/each}}
          </div>
          <span class="label-status {{status}}">{{status}}</span>
        </div>

      </a>
    </div>

  {{/each}}

  <li id="load-more" class="facility"></li>
  {{#unless loadingResults}}
    {{^facilities}}<p class="not-found">Sorry, no results found.</p>{{/facilities}}
  {{/unless}}

</div>
